body {
  background: #16598b;
  overflow-x: hidden;
}

.sidebar-side {
  height: 100vh;
  overflow: hidden;
  flex-shrink: 0;
}
.wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  flex: 1;            /* ambil sisa lebar layar */
  overflow-x: auto;   /* scroll horizontal kalau perlu */
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;            /* agar slot mengisi tinggi content-wrapper */
  width: 100%;
  padding: 1rem 1.5rem;
}

.navbar {
  padding: 0.50rem 1rem;
  width: 100%;
  position: sticky;
  flex: 1;
}

.navbar .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);
}

.navbar .profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.maps-content {
  width: 100%;
  display: flex;
  background-color: #fff;
}

.sub-maps {
  min-height: 90%;
  padding: 10px;
  margin: 20px;
}

.card {
  border: none;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.navigasi {
  width: 100%;
  display: flex;
  align-items: center;
  place-items: center;
  justify-content: space-between;
}

.autoBread {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bread {
  display: flex;
  flex-direction: row;
}

.content-card {
  background: #ffffff;
  padding: 1.2rem;
  height: fit-content;
  min-width: fit-content;
  width: 100%;
  place-items: center;
  border-radius: 12px;
}

table {
  min-width: max-content;
}

.table th {
  background: #002F34;
  color: white;
  border: none;
}

.table td {
  vertical-align: middle;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #002F34;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7585C2;
}

.map-content {
  padding: 0 !important;
  overflow: hidden;
}

.map-wrapper .content-card {
  padding: 0;
  overflow: hidden;
}

/* .highlighted-step {
  box-shadow: 0 0 0 4px rgba(255, 255, 0, 0.6);
  border-radius: 0.5rem;
  position: relative;
  z-index: 50;
}
#guideModal {
  z-index: 1000;
} */